@page
@model IranSkill19Session5.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.SubmitDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.SubmitDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Coupon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Coupon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Restaurant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Restaurant.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.User.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
