<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IranSkill19Session5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IranSkill19Session5.styles.css" asp-append-version="true" />
    <style>
        #pop{
                position:fixed;
                height:400px;
                width:40%;
                top:100px;
                left:30%;
                background-color:white;
                border: 1px solid black;
                z-index:2;
                padding:20xp;
            }

            .close{
                position:absolute;
                bottom:10px;
                right:10px;
            }
    </style>

    @await RenderSectionAsync("Style", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-page="/Index">IranSkill19Session5</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>*@
                <p class="align-content-center">Use the following code for a special offer because of the world skills competition 2022</p>
                
                    @if (@ViewData["name"] == null)
                    {
                            <button id="btnRegisterNav" class="btn-primary btn">Login/Register</button>
                        
                    }else{
                        <a asp-page="UserProfile/Details"  asp-route-id="@ViewData["ID"]" id="btnRegisterNav" class="btn-primary btn">@ViewData["name"]</a>
                        <a asp-page="Orders/Index"  asp-route-id="@ViewData["ID"]" id="btnRegisterNav" class="btn-secondary btn">View Order</a>

                    }
            </div>
        </nav>
    </header>
    <div class="container">
        <div id="pop">
            <div style="margin:20px;">
            <button id="btnLogin" class="btn btn-primary">Login</button>
            <button id="btnRegister" class="btn btn-secondary">Register</button>
            <form id="form1" class="form" method="post" asp-page="users" asp-page-handler="Login">
                Phone: <input class="form-control" type="text" name="phone"/>
                Password: <input class="form-control" type="password" name="password"/> 
                <button type="submit" class="btn btn-success">Login</button>
            </form>

            <form id="form2" class="form" method="post" asp-page="users" asp-page-handler="Register">
                Firstname: <input class="form-control" type="text" name="firstname"/>
                Lastname: <input class="form-control" type="text" name="lastname"/> 
                Phone: <input class="form-control" type="text" name="phone"/>
                Password: <input class="form-control" type="password" name="password"/> 
                <button type="submit" class="btn btn-success">Register</button>
            </form>
            <button id="btnClose" class="close btn btn-danger">Close</button>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - IranSkill19Session5 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#pop").hide();
        $("#form2").hide();

        $("#btnClose").click(()=>{
            $("#pop").hide();
        });

         $("#btnRegisterNav").click(()=>{
            $("#pop").show();
        });

        $("#btnLogin").click(()=>{
            $("#form1").show();
            $("#form2").hide();
            $("#btnLogin").addClass("btn-primary");
            $("#btnLogin").removeClass("btn-secondary");
            $("#btnRegister").removeClass("btn-primary");
            $("#btnRegister").addClass("btn-secondary");

        });
        $("#btnRegister").click(()=>{
            $("#form2").show();
            $("#form1").hide();
            $("#btnRegister").addClass("btn-primary");
            $("#btnRegister").removeClass("btn-secondary");
            $("#btnLogin").removeClass("btn-primary");
            $("#btnLogin").addClass("btn-secondary");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>